@import "styles/variable.scss";
@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

.lstTab {
  display: flex;
  margin-top: 50px;

  div {
    height: 50px;
    width: 25%;
    padding: 0 15px 0 15px;
    text-align: center;
    line-height: 50px;
    font-size: $medium-font;
    background-color: $backgroundColor;
    font-weight: 700;
    color: #cacaca;
    cursor: pointer;
    @include mobile {
      font-size: $small-font;
    }
  }
  .tab:hover {
    background-color: $hoverColor;
  }
  .activeTab {
    border-bottom: 5px solid $pinkColor;
  }
}
