@import "styles/variable.scss";
@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

.app {
  width: 100%;
  height: 100%;

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $backgroundColor;
    opacity: 90%;
    width: 100%;
    height: 70px;
    a {
      display: block;
      margin-left: 10px;
      margin-right: 10px;
      color: $whiteColor;
    }

    img {
      display: block;
      margin: auto;
    }
  }

  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0 76px 76px 76px;

    .contents {
      margin-top: 150px;
      width: 60%;

      .profileWrap {
        .background {
          height: 250px;
          width: 100%;
          background-color: aqua;
          position: relative;
          .gif {
            display: block;
            width: 100%;
            height: 100%;
            margin: auto;
          }
          .avatar {
            width: 150px;
            height: 150px;
            border: 5px solid $whiteColor;
            border-radius: 50%;
            background-color: bisque;
            position: absolute;
            left: 50px;
            bottom: -75px;
            img {
              display: block;
              width: 100%;
              height: 100%;
              border-radius: 50%;
              object-fit: cover;
            }
          }
        }
      }

      .contentsWrap {
        margin: 100px auto;
        width: 80%;

        .description {
          .name {
            color: $whiteColor;
            font-size: $title-font;
            font-weight: bold;
          }
          .brief {
            margin-top: 20px;
            color: $whiteColor;
            font-size: $small-font;
            line-height: 25px;
          }
        }

        .feedWrap {
          margin-top: 50px;

          .feed {
            margin-bottom: 10px;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            padding: 10px;
            .avatarWrap {
              width: 10%;
              .avatar {
                display: block;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                img {
                  width: 100%;
                  height: 100%;
                  border-radius: 50%;
                  object-fit: cover;
                }
              }
            }
            .feedContentWrap {
              width: 90%;
              padding-left: 15px;
              .feedName {
                display: flex;
                align-items: center;
                .name {
                  font-size: $large-font;
                  font-weight: bold;
                }
                .date {
                  margin-left: 10px;
                  font-size: $small-font;
                  color: $grayColor;
                }
              }
              .tagsWrap {
                display: flex;
                margin-top: 10px;
                .tag {
                  height: 28px;
                  line-height: 28px;
                  border-radius: 20px;
                  padding: 4px 12px;
                  margin-right: 10px;
                  font-size: $small-font;
                  background-color: $grayColor;
                }
              }
              .feedContent {
                margin-top: 10px;
                .title {
                  font-size: $name-font;
                  font-weight: bold;
                }
                .content {
                  margin-top: 5px;
                  font-size: $medium-font;
                }
              }
              .feedImg {
                margin-top: 10px;
                img {
                  display: block;
                  width: 100%;
                  height: 600px;
                  border-radius: 10px;
                  object-fit: cover;
                }
              }
              .feedFooter {
                margin-top: 10px;
                display: flex;
                justify-content: end;
              }
            }
          }
          .feed:hover {
            background-color: $hoverColor;
          }
        }
      }
    }
  }
}
