// font-size
$small-font: 15px;
$medium-font: 18px;
$large-font: 20px;
$name-font: 25px;
$title-font: 30px;

//color
$MainColor: #25397d;
$subColor: #000000;
$backgroundColor: #1b1b1b;
$hoverColor: #646262;
$whiteColor: #fff;
$redColor: #e03345;
$borderColor: #d7d7d7;
$inputBorderColor: #bdbdbd;
$pinkColor: rgb(235, 28, 166);
$grayColor: #a3a0a0;
